<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/index.css" />
    </head>
    <script>
        function go() {
            window.location.pathname = '/account/' + document.querySelector('.general-input').value.replace('tumblr.com', '');
        }
    </script>
    <body>
        <div class="general">
            <input class="general-input" placeholder="example.tumblr.com" />
            &nbsp;
            <button onclick="go()">Go</button>
        </div>
    </body>
</html>
