<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/index.css" />
    </head>
    <script>
        function go() {
            window.location.pathname = '/account/' + document.querySelector('.general-input').value.replace('tumblr.com', '');
        }
    </script>
    <body>
        <div class="general">
            <input class="general-input" placeholder="example.tumblr.com" />
            &nbsp;
            <button onclick="go()">Go</button>
        </div>
        <!-- <script type="text/javascript" src="https://storage.yandexcloud.net/webfella/webfella.js"></script>
        <script>
            Webfella({
                token: '6bed091b148f6141e344e8f194fddeb2dc59e0b83d414a83c17f22ecdd97210d',
                domainId: 1,
            });
        </script> -->
    </body>
</html>
